.calendar-container {
    padding: 5px;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.calendar-header {
    font-size: 2.2rem;
    font-weight: bold;
    color: #1a73e8;
    margin-bottom: 30px;
}

.journey-container {
    margin-bottom: 30px;
    padding: 5px;
    border-left: 6px solid #d1d9e6;
    border-right: 6px solid #d1d9e6;
    border-bottom: 6px solid #d1d9e6;
    border-top: 6px solid #d1d9e6;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.journey-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #37474f;
    text-align: center;
    margin-bottom: 15px;
}

.journey-date {
    font-size: 1rem;
    color: #607d8b;
}

.match-container {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115%;
    margin-bottom: 15px;
}

.player-group {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px 0;
}

.player-photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 6px;
}

.player-name {
    font-size: 1rem;
    font-weight: bold;
    color: #455a64;
}

.versus-separator {
    font-size: 1.6rem;
    font-weight: bold;
    color: #d32f2f;
    margin: 0 10px;
}

.match-time {
    font-size: 0.9rem;
    font-weight: bold;
    color: #1a73e8;
    background-color: #e0f2fe;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    margin-top: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.score-bar {
    display: flex;
    height: 25px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.score-bar-part {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
}

.score-bar-part.red {
    background-color: #ef5350;
}

.score-bar-part.blue {
    background-color: #42a5f5;
}

.score-bar-part.winner {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.suspense-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3f2fd;
    border-radius: 8px;
    padding: 15px;
    border: 2px dashed #1a73e8;
    margin: 20px 0;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.suspense-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #1a73e8;
}

.match-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    border: 2px solid transparent;
    cursor: pointer;
    width: 185px;
    position: relative;
    left: 64px;
}

@media (min-width: 768px) {
    .match-container {
        left: 130px;
    }
}

@media (max-width: 767px) {
    .match-container {
        left: 9px;
    }
}

.suspense-text {
    font-size: 1rem;
    color: #1976d2;
}

@media (max-width: 768px) {
    .match-container {
        width: 80%;
        max-width: 100%;
        background-color: #f4f5f7;
    }

    .player-photo {
        width: 45px;
        height: 45px;
    }

    .versus-separator {
        font-size: 1.3rem;
    }
}

/* Modal styles */
.modal-title {
    font-weight: bold;
    font-size: 1.8rem;
    color: #37474f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close-button {
    color: #d32f2f;
}

/* Empêcher le défilement horizontal global */
body {
    overflow-x: hidden; /* Désactive le défilement horizontal sur la page */
    margin: 0; /* Enlève les marges par défaut pour éviter tout décalage */
}

/* Modale ajustée pour éviter le défilement horizontal */
.modal-content {
    background: radial-gradient(circle, #0c0c0c, #656666);
    padding: 20px;
    width: 88%; /* S'adapte à l'écran */
    max-width: 500px; /* Limite la largeur pour un affichage harmonieux */
    max-height: 90vh; /* Limite la hauteur */
    overflow-y: auto; /* Permet seulement le défilement vertical si nécessaire */
    overflow-x: hidden; /* Désactive le défilement horizontal */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 8px; /* Coins arrondis pour une apparence élégante */
}

/* Ajustements pour mobile */
@media (max-width: 768px) {
    .modal-content {
        padding: 15px;
        max-height: 80vh;
        overflow-y: auto;
    }

    /* Assurez-vous que tous les éléments internes sont responsifs */
    .modal-match-date, .modal-match-time, .countdown-timer-modal {
        text-align: center;
        white-space: nowrap; /* Empêche les sauts de ligne involontaires */
        font-size: 1.6rem !important;
        margin-top: 15px !important;
    }

    .versus-image-modal {
        width: 80px;
        height: 80px;
    }

    .countdown-timer-modal {
        font-size: 1.4rem;
        gap: 8px;
    }

    .modal-button {
        font-size: 1rem !important;
        padding: 8px 20px;
    }
}



.modal-match-date {
    font-size: 2.1rem !important;
    color: #607d8b;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    line-height: 1.334 !important;
    margin-top: 40px !important;
    text-align: center;
    position: relative;
    
}

/* Effet de "flamme blanche" */
.modal-match-date::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 200%; /* Assez large pour couvrir le texte */
    animation: flameEffect 3s infinite ease-in-out;
}

/* Animation pour déplacer la "flamme" */
@keyframes flameEffect {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(200%);
    }
}

.modal-match-date:hover {
    color: #455a64; /* Change légèrement la couleur au survol */
    transform: scale(1.05); /* Légère mise en avant */
    transition: transform 0.3s ease, color 0.3s ease;
}



.modal-match-time {
    font-size: 1.5rem!important;
    font-weight: bold;
    color: #607d8b;       
    padding: 8px 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    font-family: "Roboto"!important;
}

.modal-players {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.player-photo-large {
    width: 100px; /* Taille augmentée pour l'affiche */
    height: 100px;
    border-radius: 50%;
    margin-top: 20px; /* Down */
    
    border: 3px solid rgba(226, 45, 45, 0.479); /* Bordure plus visible */
    transition: transform 0.3s ease; /* Animation au survol */
}

.player-photo-large:hover {
    transform: scale(1.1); /* Effet de zoom au survol */
}

.player-name-large {
    font-size: 1.2rem;
    font-weight: bold;
    color: #680505;
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.versus-image-modal {
    width: 140px; /* Taille de l'image VS */
    height: 140px;
    margin-right:20px ; /* Espace autour de l'image pour séparer les joueurs */
    margin-top: 20px; /* Down */
}

.affiche-image-modal {
    width: 90px;
    height: 87px;
    margin-right: 0;
    opacity: 0.4; /* 1 est opaque, moins de 1 ajoute de la transparence */
    transition: opacity 0.3s ease; /* Transition pour l'effet de survol */
    margin-top: -20px!important; 
}

/*titre*/
.affiche-title {
    vertical-align: middle; /* Aligne l'image avec le texte ou autres éléments */
    transition: opacity 0.3s ease;
    width: 420px;
    
}

/* Effet de survol pour rendre l'image opaque quand on passe la souris dessus */
.countdown-timer-modal {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.9rem;
    font-weight: bold;
    color: #ff00009c;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    margin-top: 0;
    opacity: 0.2!important;
}

.countdown-complete {
    color: #ff00009c;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    opacity: 0.4!important;
}

.flag-icon {
    width: 25px; /* Taille des icônes */
    height: 25px;
    margin-left: 5px; /* Espacement par rapport au texte */
    vertical-align: middle; /* Alignement au milieu du texte */
    margin-top: 50px;
}

.modal-button {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #f1f1f1;
    color: rgba(226, 20, 20, 0.589)!important;
    font-size: 1.2rem!important;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px!important;
    font-weight: bold!important;
}

