/* Pop-up centré et responsive */
.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 100%; /* Assurer que la pop-up n'excède pas 100% */
}

/* Ajustement du texte des scores sur mobile */
.score-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.score-number {
    font-size: 2rem;
    font-weight: bold;
}

.score-number.red {
    color: #E74C3C;
}

.score-number.blue {
    color: #3498DB;
}

/* Barre de score */
.score-bar {
    display: flex;
    width: 100%;
    height: 35px; /* Hauteur normale */
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.score-bar-part {
    height: 100%;
}

.score-bar-part.red {
    background-color: #E74C3C;
}

.score-bar-part.blue {
    background-color: #3498DB;
}

/* Styles pour mobile */
@media (max-width: 768px) {
    /* Ajuster le dialogue pour mobile */
    .dialog-content {
        padding: 10px;
    }

    .score-bar {
        height: 30px; /* Réduire la hauteur de la barre sur mobile */
    }

    .score-number {
        font-size: 1.5rem; /* Réduire la taille du texte des scores sur mobile */
    }

    .score-details {
        flex-direction: column; /* Afficher les scores en colonne pour éviter les débordements */
        align-items: center;
    }

    .score-number {
        margin-bottom: 10px; /* Espacer légèrement les scores */
    }
}
